## Python Mini-Project

**1.** Bu Inge adalah seorang dosen informatika, saat ini beliau sedang melakukan survey kondisi sosial ekonomi masyarakat di kampung durian runtuh. Bu Inge mengambil sampel berupa 10 keluarga. Bantulah Bu Inge dalam melakukan survey nya

> - Lakukan running dengan iterasi 10x untuk membaca input dari user yang berupa nama kepala keluarga dan penghasilan nya. 
> - Kemudian ditentukan status ekonomi-nya dengan beberapa kriteria.
> - Diwajibkan membuat sebuah fungsi yang menerima parameter berupa nilai dan mengembalikan status ekonomi-nya. Contoh pemanggilan fungsi: status_ekonomi(10), hasil pemanggilan nya menghasilkan “makmur”.
> - **“Penghasilan tidak mungkin negatif”**. Sehingga saat user memberikan input negatif maka. fungsi status_ekonomi harus memberikan exception. 
> - Masukkan data pada pandas dataframe dan simpan dengan format CSV.

In [2]:
import pandas as pd

# Fungsi untuk menentukan status ekonomi
def status_ekonomi(penghasilan):
    if penghasilan > 15:
        return "Crazy Rich"
    elif 5 <= penghasilan <= 15:
        return "Makmur"
    elif 2 <= penghasilan < 5:
        return "Mandiri"
    elif 1 <= penghasilan < 2:
        return "Butuh Pendampingan"
    else:
        return "Rentan"

# Membuat data frame kosong
data_survey = pd.DataFrame(columns=['Nama Kepala Keluarga', 'Penghasilan (juta)', 'Status Ekonomi'])

for i in range(10): # Membuat input sejumlah 10
    input_data = input(f"Masukkan data untuk keluarga ke-{i + 1} (contoh: 'Adi Alkatiri | 6.7'): ") # Format input data
    nama, penghasilan_str = input_data.split('|')
    nama = nama.strip()
    try:
        penghasilan = float(penghasilan_str)  
        if penghasilan < 0:
            raise ValueError("Penghasilan tidak boleh negatif")
        status = status_ekonomi(penghasilan)
        data_survey.loc[i] = [nama, penghasilan, status]
        if i == 9:
            # Cetak semua data jika sudah terisi 10 kali
            print("\nData survei lengkap:")
            print(data_survey)
    except ValueError as e:
        print(f"Error: {e}")

# Simpan data ke dalam file CSV
data_survey.to_csv('data.csv', index=False)

Masukkan data untuk keluarga ke-1 (contoh: 'Adi Alkatiri | 6.7'):  Adi | 0.0
Masukkan data untuk keluarga ke-2 (contoh: 'Adi Alkatiri | 6.7'):  Budi Beriman | 2.0
Masukkan data untuk keluarga ke-3 (contoh: 'Adi Alkatiri | 6.7'):  Cyntia | 3.0
Masukkan data untuk keluarga ke-4 (contoh: 'Adi Alkatiri | 6.7'):  Deni Alfarisi | 4.0
Masukkan data untuk keluarga ke-5 (contoh: 'Adi Alkatiri | 6.7'):  Eko Fahrudin | 6.2
Masukkan data untuk keluarga ke-6 (contoh: 'Adi Alkatiri | 6.7'):  Fani Veronica | 7.2
Masukkan data untuk keluarga ke-7 (contoh: 'Adi Alkatiri | 6.7'):  Ghani Berwawasan | 89.0
Masukkan data untuk keluarga ke-8 (contoh: 'Adi Alkatiri | 6.7'):  Hendra Setiawan | 19.0
Masukkan data untuk keluarga ke-9 (contoh: 'Adi Alkatiri | 6.7'):  Indira | 5.0
Masukkan data untuk keluarga ke-10 (contoh: 'Adi Alkatiri | 6.7'):  Joni Alkatiri | 100.0

Data survei lengkap:
  Nama Kepala Keluarga  Penghasilan (juta) Status Ekonomi
0                  Adi                 0.0         Rentan
1         Budi Beriman                 2.0        Mandiri
2               Cyntia                 3.0        Mandiri
3        Deni Alfarisi                 4.0        Mandiri
4         Eko Fahrudin                 6.2         Makmur
5        Fani Veronica                 7.2         Makmur
6     Ghani Berwawasan                89.0     Crazy Rich
7      Hendra Setiawan                19.0     Crazy Rich
8               Indira                 5.0         Makmur
9        Joni Alkatiri               100.0     Crazy Rich

In [6]:
status_ekonomi(1)

'Butuh Pendampingan'

**2.**  Anda adalah seorang Dosen di kelas Dasar Pemrograman yang memiliki 40 mahasiswa.

Ada 3 nilai berikut:
> np.random.normal(mean, var, n)
>
> tugas ~ (85, 7, 40)
>
> UTS ~ (60, 15, 40)
>
> UAS ~ (75, 10, 40)
>
Simpan data dalam bentuk Data Frame.
>
Kemudian buat kolom baru (Nilai Akhir) yang dihitung dengan formula:
>
> tugas: 20%
>
> UTS: 40%
>
> UAS: 40%
Buat kolom baru dan lakukan binning dengan kriteria berikut:
> 
> A : 85-100
>
> A- : 80-85
>
> B+ : 75-80
>
> B : 70-75
>
> B- : 65-70
>
> C+ : 60-65
>
> C : 55-60
>
> C- : 50-55
>
> D : 20-50
>
> E : 0-20

In [2]:
import pandas as pd
import numpy as np

In [7]:
tgs = np.random.normal(85, 7, 40)
ut = np.random.normal(60, 15, 40)
us = np.random.normal(75, 10, 40)

In [4]:
data_nilai = pd.DataFrame({'tugas': tgs, 'uts': ut, 'uas': us})
data_nilai.head()

       tugas        uts        uas
0  82.589770  55.460010  76.918546
1  84.553889  48.781483  75.072605
2  82.599815  42.609373  71.827925
3  73.985366  67.385236  81.567865
4  84.014291  56.484995  64.509718

In [5]:
data_nilai['nilai_akhir'] = data_nilai['tugas']*0.2 + data_nilai['uts']*0.4 + data_nilai['uas']*0.4
data_nilai.head()

       tugas        uts        uas  nilai_akhir
0  82.589770  55.460010  76.918546    69.469376
1  84.553889  48.781483  75.072605    66.452413
2  82.599815  42.609373  71.827925    62.294882
3  73.985366  67.385236  81.567865    74.378313
4  84.014291  56.484995  64.509718    65.200743

In [6]:
batas_bin = [0, 20, 50, 55, 60, 65, 70, 75, 80, 85, 100]
kategori = ['E', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']

data_nilai['predikat'] = pd.cut(data_nilai['nilai_akhir'], bins = batas_bin, labels = kategori)
data_nilai.head()

       tugas        uts        uas  nilai_akhir predikat
0  82.589770  55.460010  76.918546    69.469376       B-
1  84.553889  48.781483  75.072605    66.452413       B-
2  82.599815  42.609373  71.827925    62.294882       C+
3  73.985366  67.385236  81.567865    74.378313        B
4  84.014291  56.484995  64.509718    65.200743       B-